/* src/components/About.css */

.about-container {
    padding: 40px 20px;
    background-color: var(--primary-color);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-container h1 {
    color: var(--secondary-color);
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
  }
  
  .about-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .kylemal-img {
    width: 100%;
    height: 300; 
    border-radius: 12px;
  }
  
  .about-text {
    flex: 2 1 500px;
    color: var(--secondary-color);
    line-height: 1.6;
  }
  
  .about-text h2 {
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-text p {
    margin-bottom: 20px;
  }

  @media (max-width: 879px) {
    .kylemal-img {
      width: 450px !important;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
    
    .about-image, .about-text {
      flex: 1 1 100%;
    }
    
  }

  @media (max-width: 487px) {
    .kylemal-img {
      width: 100% !important;
    }
  }
  