/* src/index.css */

:root {
  --primary-color: #224C3C;
  --secondary-color: #E5E4E3;
  --accent-color: #E4C7A6;
  --neutral-color: #97A396;
  --dark-accent: #927B52;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  color: var(--color-dark-green);
}

a {
  color: var(--color-beige);
}

a:hover {
  color: var(--color-dark-green);
}
